.search{
    display: flex;
    position: sticky;
    top: 0px;
    padding: 10px;
    padding-left: 10%;
    font-size: 18px;
    width: 100%;
    background: white;
    border-bottom: 1px solid black;
    z-index: 10;
}
.search input{
    margin-left: 30px;
    width: 66%;
    padding-left: 20px;
    border: 2px solid black;
}
.newRecipeButton{
    color: white;
    background-color: #01b636;
    padding-left: 10px;
    padding-right: 10px;
    transition: 1s;
    cursor: pointer;
}
.newRecipeButton:hover{
    background-color: #3bd16f;
}
.filters{
    border: 1px solid black;
    width: 300px;
    background-color: #ffffff;
}
.recipesCont{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
}
#formDiv{
    background-color: #ffffff;
    padding: 50px;
    width: 50%;
    border: 1px solid black;
}